.navbar-link {
  text-decoration: none !important;
  color: white !important;
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
  /* background-image: linear-gradient(rgba(1,1,1,0.8), rgba(0,0,0,0)) !important; */
  box-shadow: none !important;
}

.navbar-solid {
  background-color: rgba(11, 9, 16, 1) !important;
}

@media (min-width: 600px){
  .mobile-search-icon{
    /* justify-content: flex-end; */
    visibility: hidden !important;
  }
}

@media (max-width: 600px){
  .search-bar{
    visibility: none !important;
  }
}

.dropdown-custom{
  color: white !important;
  background-color: rgb(47, 47, 47) !important;
}
.dropdown-custom::hover{
  background-color: rgb(63, 63, 63) !important;
}