.bg-custom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0));
  height: 10vh;
}
.srch {
  width: 500px !important;
}
.avatar{
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.bg-dark{
  color: white;
}
.btn-close{
  color: white;
}