.holder{
    background-color: rgb(255, 255, 255);
    border-radius: 10px !important;
    overflow: hidden;
    margin: auto 20%;
}
/* .card{
    padding: 50px;
    align-items: center;
    justify-content: center;
} */