.load {
  padding: 1em;
  background: #282c34;
  color: #5897e6;
  text-align: center;
  font-family: "Sofia Pro", sans-serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 12rem;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
/* h1{
    margin: 1em 0;
    border-bottom: 1px solid ;
    padding-bottom: 1em;
    font-weight: 600;
  }
  p{
    font-style: italic;
  } */
.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
    Set the color of the icon
  */
#Layer_1 path,
svg rect {
  fill: #5897e6;
}

.blue {
  fill: #5897e6;
}
.green {
  fill: #a2ba30;
}

.yellow {
  fill: #efd62f;
}

.orange {
  fill: #f77846;
}

.pink {
  fill: #e52886;
}
